root: true

parser: babel-eslint

extends: standard

env:
  browser: true
  es6: true
  jasmine: true
  node: true

ecmaFeatures:
  jsx: true
  modules: true

globals:

rules:
  max-len: 0
  no-else-return: 2
  arrow-body-style: ['error', 'as-needed']
  react/forbid-prop-types: 0
  react/sort-comp: 0
  curly: ['error', 'all']
  no-use-before-define: 2
  no-extra-boolean-cast: 0
  react/jsx-filename-extension: 0
  react/prefer-stateless-function: 0

settings:
  import/resolver:
    node:
      moduleDirectory:
        - node_modules
        # this sets the path the root since we have a `test` folder that will need to be included going forward.
        - '/'
